<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontEnd Store</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/reque.css">
   
</head>
<body>
    <div class="card">
        <!-- <h2 class="card-title">{{title}}</h2> -->
        <h2 class="card-title">Datos del requerimiento</h2>
        <h3 class="card-subtitle">Por favor, actualice los datos del requerimiento</h3>
      
        <form class="myform" [formGroup]="requeForm">
      
            <div class="form-group row">
              <label class="col-sm-3 control-label">Tipo de solicitud (Turno) : </label>
              <br>
               <div class="col-sm-9">
               <div class="input-group">
                <select class="form-control"
                        formControlName="idsoldot">
                     <option value=""></option> 
                     <option *ngFor="let s of Listturnos"
                      [value]="s.idparametros">
                       {{ s.Nombre }}
                     </option>
                  </select>
                </div>
              </div>
              </div>
    
            <div class="form-group row">
                  <label class="col-sm-3 control-label">Motivo: </label>
                  <br>
                  <div class="col-sm-9">
                    <div class="input-group">
                     <select class="form-control"
                        formControlName="idMotivo">
                       <option value=""></option> 
                        <option *ngFor="let s of Listmotivos"
                        [value]="s.idparametros"> {{ s.Nombre }}
                        </option>
                     </select>
                    </div>
                  </div>
             </div>
    
            <div class="form-group row">
              <mat-form-field class="example-full-width" appearance="fill">
               <mat-label>Tienda</mat-label>
               <input type="text" placeholder="Seleccione una tienda"
                  aria-label="Tienda" matInput formControlName="Tienda"
                  [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                 <mat-option *ngFor="let option of filteredStores | async" [value]="option">
                 {{option}}
                 </mat-option>
                 </mat-autocomplete>
                </mat-form-field>
            </div>
    
            <div class="form-group row">
                            <mat-form-field appearance="fill">
                                <mat-label>Fecha de registro</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="fec_reg">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
            </div>
    
              <div class="form-group row">
                            <label class="col-sm-3 control-label">Estado: </label>
                            <br>
                            <div class="col-sm-9">
                              <div class="input-group">
                               <select class="form-control"
                                  formControlName="idestado_dot">
                                  <option value=""> -- Seleccione Estado -- </option>
                                  <option *ngFor="let estado of ListEstados"
                                  [value]="estado.idparametros"> {{estado.Nombre}}
                                  </option>
                               </select>
                              </div>
                            </div>
                </div>
    
    
                <div class="form-group row">
                    <mat-label>Descripción</mat-label>
                    <mat-form-field appearance="standard">
                    <input matInput placeholder="Descripción"
                         formControlName="Descripcion">
                    </mat-form-field>
                </div>
    

                <div class="btn-group">
                    <button mat-flat-button mat-dialog-close>Cerrar</button>
                
                    <button mat-flat-button color="accent" (click)="saveRequirement()">Guardar</button>
                  
                    <button mat-flat-button color="accent" (click)="saveAndClose()">Guardar y cerrar</button>
                  </div>
                  

            </form>
            <div>
    
            </div>           
    </div>
    

</body>
</html>